    <div class="appcontainer">
      
      <div class='appbanner-img' id="uploadedimage"><img src={{app.logo}}></div>  
      <LinkTo @route="myapp" ><button class='appbtn'>{{app.appname}}</button></LinkTo>
    </div>


