<div class="appwrapper-flex" style="font-family: 'Segoe UI'">
    <div class="appcontainer">
      <div class='appbanner-img'><img src="assets/images/png/plus-icon-101978b7b3e0c656c709883af3b299d2.png"></div>  
      <a href="myapp"><button class='appbtn'>Add an app</button></a>
    </div>
</div>

{{yield}}