<div class="myappcol">
    <div class="sidebar">
        <ul>
            <a href="myapp" style="color: #83bb00">Basic information</a>
            <a href="advanced">Account information</a>
            <a href="permissions">Permissions</a>
            <a href="publish">Publish</a>
            
        </ul>
    </div>
</div>
{{yield}}