<div class="alert_wrapper">
    <div class="alert_backdrop"></div>
    <div class="alert_inner">
        <div class="alert_item alert_success" id="success">
            <div class="icon data_icon">
                {{fa-icon "check-circle"}}
            </div>
            <div class="data">
                <p class="title"><span>The app has been successfully sent for review</span>
                </p>
                <p class="sub">You will be notified about the app's status</p>
            </div>
            <div class="icon close">
                {{fa-icon "times"}}
            </div>
        </div>
    </div>
</div>
{{yield}}