{{page-title "Advanced options"}}
{{app-edit-full}}
<div class="myappcol">
    <div class="sidebar">
        <ul>
            <a href="myapp">Basic information</a>
            <a href="advanced" style="color: #83bb00">Account information</a>
            <a href="permissions">Permissions</a>
            <a href="publish">Publish</a>
        </ul>
    </div>
</div>
{{my-app}}
{{advanced-options}}