{{page-title "Permissions"}}
{{app-edit-full}}
<div class="myappcol">
    <div class="sidebar">
        <ul>
            <a href="myapp">Basic information</a>
            <a href="permissions" style="color: #83bb00">Permissions</a>
            <a href="publish">Publish</a>
        </ul>
    </div>
</div>
{{my-app}}
{{app-permissions}}